.homepage {
    background-color: #dff9fb;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.photo-results {
    max-height: 230px;
    max-width: 100%;
    overflow: hidden;

    width: 100%;
    background-size: cover;
    object-fit: cover;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    
    /* display: block;
    width: 345px;
    height: 220px;
    object-fit: cover;
    width: 100%; 
    height: 100%; */

    /* width: 100%;
    background-size: cover;
    object-fit: cover;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center; */

}

.center-logo {
    max-width: 100%;
    max-height: 245px;

}

.look-like-link {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  cursor: pointer;
  size: 22px;
  font-weight: bold;
}

.bg-light {
    background-color:white!important;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-primary {
    background-color: #22c1ff;
    border-color: transparent;
}

.nav-link {
    position: left;
}

.center-logo {
    padding: 4rem;
    padding-bottom: 1rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paddingl {
    padding-top: 1vh!important;
    padding-right: 15vw!important;
    padding-left: 15vw!important;
    background-color: #dff9fb!important;
    height: 100vh!important;

}

.reg-paddingl {
    padding-top: 3vh;
    padding-right: 2vw;
    padding-bottom: 2vh;
    padding-left: 2vw;
    background-color: white!important;

}

.searchresults {
    padding-top: 3vh;
    padding-right: 15vw;
    padding-bottom: 2vh;
    padding-left: 15vw;
    background-color: white!important;
    
}

.listpage {
    padding-top: 3vh;
    padding-right: 15vw;
    padding-bottom: 2vh;
    padding-left: 15vw;
}



.padding-logo {
    padding-left: 2vw;
    padding-right: 2vw;
}

