{% extends "userview.html" %}

{% block content %}

<div class="listpage">
  <h1>{{name}}</h1>
  <br>

  {% for entry in data['liked_businesses'] %}

  <div class="card mb-3" style="max-width: 1050px;" style="max-height: 50%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{entry['picture']}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <form action="{{ url_for('restaurant' ,name=entry['name']) }}" method="POST" class="id" target="_blank">
            <button class="look-like-link" type=submit>{{entry['name']}}</button>
            <input type="hidden" name="id" value="{{entry['id']}}" />
          </form>

          <p class="card-text">
            <strong>Rating: </strong>{{entry['rating']}}
            <br> <strong>Phone: </strong>{{entry['phone']}}
            <br> <strong>Address: </strong>{{entry['address']}}
          
          <!-- <form action='/' method="POST" class="like-form">
            <div style="text-align:right">
                <input type="hidden" name="business-id" value="{{entry['id'], entry['name']}}" />
                <button class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" type="submit" name="like" id="like"
                    value="like">Remove from list</button>
            </div>
          </form> -->

        </div>
        <div class="card-footer">
          <small class="text-muted">Distance from you: {{entry['distance']}} m</small>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}




</div>






{% endblock %}