{% extends "userview.html" %}

{% block content %}

<div class="listpage">
  <h1>{{name}}</h1>

  <br>

  {% for entry in data['liked_businesses'] %}

  <div class="card mb-3" style="max-width: 1050px;" style="max-height: 50%;">
    <div class="row g-0">
      <div class="col-md-4">
        <div class="photo-listpage">
          <img src="{{entry['picture']}}" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <form action="{{ url_for('restaurant' ,name=entry['name']) }}" method="POST" class="id" target="_blank">
            <button class="look-like-link" type=submit>{{entry['name']}}</button>
            <input type="hidden" name="id" value="{{entry['id']}}" />
          </form>

          <p class="card-text">
            <strong>Rating: </strong>{{entry['rating']}}
            <br> <strong>Phone: </strong>{{entry['phone']}}
            <br> <strong>Address: </strong>{{entry['address']}}

            <!-- remove from list button here -->
          <form action="/listpage" method="POST" class="removeResto">
            <div style="text-align:right">
              <input type="hidden" name="removeResto" value="{{entry['id']}}" />
              <input type="hidden" name="listName_Resto" value="{{name}}" />
              <button class="btn btn-primary" type="submit" name="removeR" id="removeR" value="like">Remove from
                list</button>
            </div>
          </form>

          <!-- <div class="card-footer">
            <small class="text-muted">Distance from you: {{entry['distance']}} m</small>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <br>
  <div style="text-align:right">

    <!-- delete list button here -->
    <form action="/removeList" formaction="/removeList" method="POST" class="removeList">
      <input type="hidden" name="removelist" value="{{name}}" />
      <button class="btn btn-primary" type="submit" name="removeL" id="removeL" value="like">Delete list</button>
    </form>
  </div>





  {% endfor %}



  <br>

  <!-- delete list button here -->
  <form action='/listpage' method="POST" class="removeList">
    <div style="text-align:right">
      <input type="hidden" name="removelist" value="{{name}}" />
      <button class="btn btn-primary" type="submit" name="removeL" id="removeL" value="like">Delete list</button>
    </div>
  </form>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type=text/javascript>

$(document).ready(function() {
$('.removeList').submit(function (e) {
  // e.preventDefault();
 
  $.ajax({
      url:"/removeList",
      type:"POST",
      cache:false,
      data:$(e.target).serialize(),
      success: function (data) {
          console.log(data);
          // window.location.reload();
      }
      });
});
});

$('.removeResto').submit(function (e) {
  e.preventDefault();
 
  $.ajax({
      url:"/removeResto",
      type:"POST",
      cache:false,
      data:$(e.target).serialize(),
      success: function (data) {
          console.log(data);
          window.location.reload();
      }
      });
});

</script>






  {% endblock %}