{% extends "userview.html" %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Your Restaurant Lists</h3>
          <br>
          <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for name in names%}
            <div class="col">
              <div class="card">
                <img src="static/img/blue.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                  <form action="{{ url_for('listpage' ,listName=name) }}" method="POST" class="list">
                    <button class="look-like-link" type=submit>{{name}}</button>
                    <input type="hidden" name="list" value="{{name}}" />
                  </form>

                  <br>

                </div>

                <div class="card-footer">
                  {% for numItem in num %}
                  <small class="text-muted">{{numItem}} restuarants in list</small>
                  {% endfor %}
                </div>

              </div>
            </div>
            {% endfor %}

          </div>
          <br><br><br><br>

          <button class="btn btn-primary" style="float: right;" data-bs-toggle="modal" data-bs-target="#exampleModal"
            type='button'>Create a new list</button>

        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create new List</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <form action="/userpage" method="POST" class="createNewList">
            <div class="modal-body">
              <input type="text" placeholder="New List Name" name="newList" />

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Create List</button>
            </div>
          </form>

        </div>
      </div>
    </div>


  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript>

$(document).ready(function() {
$('.createNewList').submit(function (e) {
  e.preventDefault();
 
  $.ajax({
      url:"/create-newList",
      type:"POST",
      cache:false,
      data:$(e.target).serialize(),
      success: function (data) {
          console.log(data);
          window.location.reload();
      }
      });
});
});

</script>

{% endblock %}